// styles for the blog roll on the home page


.post-ind {
    background: rgba($color: $cedartan, $alpha: .4);
    padding: 20px 0;
    margin-top: 100px;
    margin-bottom: 100px;
    h3 {
        color: $cedargreen;
    }
    .post-adjust {
        margin-top: -50px;
        @media screen and (min-width: $screen-md) {
            margin-bottom: -50px;
        }
    }
    .post-content {
        opacity: 0;
        transform: translateX(200px);
        transition: all 1s ease;
        @media screen and (min-width: $screen-md) {
            position: relative;
            flex: 0 0 55%;
            left: -14%;
        }
        > div {
            background: rgba($color: #fff, $alpha: .95);
            padding: 40px;
            margin-left: 40px;
            margin-right: 40px;
            margin-top: -50px;
            @media screen and (min-width: $screen-md) {
                margin-top: 0;
            }
            //margin-bottom: -50px;
            position: relative;
        }
    }
    .featured-image {
        opacity: 0;
        transform: translateX(-200px);
        transition: all 1s ease;
    }
}

.post-ind:nth-child(2n) {
    .post-content {
        opacity: 0;
        transform: translateX(200px);
        transition: all 1s ease;
        @media screen and (min-width: $screen-md) {
            transform: translateX(0);
            position: relative;
            flex: 0 0 55%;
            right: -14%;
            order: 1;
            z-index: 2;
            text-align: right;
        }
    }
    .featured-image {
        opacity: 0;
        transform: translateX(-200px);
        transition: all 1s ease;
        @media screen and (min-width: $screen-md) {
            transform: translateX(0px);
            order: 2;
        }
    }
}


.post-ind.animateThis {
    .post-content {
        opacity: 1;
        transform: translateX(0);
    }
    .featured-image {
        opacity: 1;
        transform: translateX(0);
    }
}

.post-ind.post-ind.animateThis:nth-child(2n) {
    .post-content {
        @media screen and (min-width: $screen-md) {
            transform: translateX(220px);
        }
    }
    .featured-image {
        @media screen and (min-width: $screen-md) {
            transform: translateX(-220px);
        }
    }
}


.slick-next::before, .slick-prev::before {

    color: #000;
}

.slick-next, .slick-prev {

}

.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}