.footer-inside {
    padding-top: 50px;
    margin-bottom: -42px;
    z-index: 101;
    position: relative;
    .above-footer {
        background: $cedarblue;
        border-radius: 10px;
        color: #fff;
        padding: 20px;
        
        h3 {
            font-family: $displayText;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        a {
            transition: color .3s ease;
        }
        a:link, a:active, a:visited {
            color: #fff;
        }
        a:hover {
            color: $cedargreen;
        }
        p {
            margin: 0;
        }
    }
}